@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

body {
    font-family: 'Nunito', sans-serif;
}

button,
select {
    font: inherit;
    padding: 0.25em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#root {
    /* React root div */
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.main,
.header,
.footer {
    padding: 0.25em;
    margin: 0 1em;
}

.main {
    display: flex;
    gap: 1rem;
}